# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [169]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

baltimore = pd.read_csv("C:\\Users\\apr09\\OneDrive\\Desktop\\LaunchCode\\Codes\\LC 17\\Studio\\LC-17-Studio\\dataset\\baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("C:\\Users\\apr09\\OneDrive\\Desktop\\LaunchCode\\Codes\\LC 17\\Studio\\LC-17-Studio\\dataset\\boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("C:\\Users\\apr09\\OneDrive\\Desktop\\LaunchCode\\Codes\\LC 17\\Studio\\LC-17-Studio\\dataset\\new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("C:\\Users\\apr09\\OneDrive\\Desktop\\LaunchCode\\Codes\\LC 17\\Studio\\LC-17-Studio\\dataset\\philadelphia_9-24-2016_9-30-2017.csv")

In [170]:
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [171]:
boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [172]:
new_york.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [176]:
philadelphia.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [177]:
# Clean your data here!

In [208]:
key = ["Commodity Name", "Package", "Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"]
baltimore1 = baltimore.drop(key, axis=1)
baltimore1

fill_key = ["Sub Variety", "Color", "Unit of Sale"]
baltimore1[fill_key] = baltimore1[fill_key].fillna("Missing")

In [209]:
baltimore_drop

,Commodity Name,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,...,Item Size_ismissing,Color_ismissing,Environment_ismissing,Unit of Sale_ismissing,Quality_ismissing,Condition_ismissing,Appearance_ismissing,Storage_ismissing,Crop_ismissing,Trans Mode_ismissing
0,PUMPKINS,BALTIMORE,NaN,Missing,04/29/2017,270,280.0,270,280.0,NaN,...,False,True,True,True,True,True,True,True,True,True
1,PUMPKINS,BALTIMORE,NaN,Missing,05/06/2017,270,280.0,270,280.0,NaN,...,False,True,True,True,True,True,True,True,True,True
2,PUMPKINS,BALTIMORE,HOWDEN TYPE,Missing,09/24/2016,160,160.0,160,160.0,DELAWARE,...,False,True,True,True,True,True,True,True,True,True
3,PUMPKINS,BALTIMORE,HOWDEN TYPE,Missing,09/24/2016,160,160.0,160,160.0,VIRGINIA,...,False,True,True,True,True,True,True,True,True,True
4,PUMPKINS,BALTIMORE,HOWDEN TYPE,Missing,11/05/2016,90,100.0,90,100.0,MARYLAND,...,False,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,PUMPKINS,BALTIMORE,MINIATURE,Missing,09/30/2017,18,18.0,18,18.0,MARYLAND,...,True,False,True,True,True,True,True,True,True,True
149,PUMPKINS,BALTIMORE,MINIATURE,Missing,09/30/2017,18,18.0,18,18.0,PENNSYLVANIA,...,True,False,True,True,True,True,True,True,True,True
150,PUMPKINS,BALTIMORE,MINIATURE,ROUND TYPE,09/24/2016,15,15.0,15,15.0,MARYLAND,...,False,True,True,True,True,True,True,True,True,True
151,PUMPKINS,BALTIMORE,MINIATURE,ROUND TYPE,10/01/2016,15,15.0,15,15.0,MARYLAND,...,False,True,True,True,True,True,True,True,True,True
152,PUMPKINS,BALTIMORE,MINIATURE,ROUND TYPE,10/08/2016,15,15.0,15,15.0,MARYLAND,...,False,True,True,True,True,True,True,True,True,True

In [210]:
boston1 = boston.drop(key, axis=1)
boston1

,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,exjbo,ORANGE,NaN,N
1,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,jbo,ORANGE,NaN,N
2,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,xlge,ORANGE,NaN,N
3,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,xlge,ORANGE,NaN,N
4,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,180,165,165,CANADA,lge,ORANGE,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,BOSTON,MINIATURE,ROUND TYPE,10/22/2016,15,18,15,15,MASSACHUSETTS,sml,ORANGE,NaN,N
348,BOSTON,MINIATURE,ROUND TYPE,10/29/2016,15,18,15,15,MASSACHUSETTS,sml,WHITE,NaN,N
349,BOSTON,MINIATURE,ROUND TYPE,10/29/2016,15,18,15,15,MASSACHUSETTS,sml,ORANGE,NaN,N
350,BOSTON,MINIATURE,ROUND TYPE,11/05/2016,15,18,15,15,MASSACHUSETTS,sml,WHITE,NaN,N
351,BOSTON,MINIATURE,ROUND TYPE,11/05/2016,15,18,15,15,MASSACHUSETTS,sml,ORANGE,NaN,N

In [211]:
boston1[fill_key] = boston1[fill_key].fillna("Missing")
boston1

,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,BOSTON,HOWDEN TYPE,Missing,09/24/2016,160,200,165,165,CANADA,exjbo,ORANGE,Missing,N
1,BOSTON,HOWDEN TYPE,Missing,09/24/2016,160,200,165,165,CANADA,jbo,ORANGE,Missing,N
2,BOSTON,HOWDEN TYPE,Missing,09/24/2016,160,200,165,165,CANADA,xlge,ORANGE,Missing,N
3,BOSTON,HOWDEN TYPE,Missing,09/24/2016,160,200,165,165,CANADA,xlge,ORANGE,Missing,N
4,BOSTON,HOWDEN TYPE,Missing,09/24/2016,160,180,165,165,CANADA,lge,ORANGE,Missing,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,BOSTON,MINIATURE,ROUND TYPE,10/22/2016,15,18,15,15,MASSACHUSETTS,sml,ORANGE,Missing,N
348,BOSTON,MINIATURE,ROUND TYPE,10/29/2016,15,18,15,15,MASSACHUSETTS,sml,WHITE,Missing,N
349,BOSTON,MINIATURE,ROUND TYPE,10/29/2016,15,18,15,15,MASSACHUSETTS,sml,ORANGE,Missing,N
350,BOSTON,MINIATURE,ROUND TYPE,11/05/2016,15,18,15,15,MASSACHUSETTS,sml,WHITE,Missing,N
351,BOSTON,MINIATURE,ROUND TYPE,11/05/2016,15,18,15,15,MASSACHUSETTS,sml,ORANGE,Missing,N

In [212]:
new_york1 = new_york.drop(key, axis=1)
new_york1

,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,NEW YORK,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,xlge,NaN,NaN,N
1,NEW YORK,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,lge,NaN,NaN,N
2,NEW YORK,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,xlge,NaN,NaN,N
3,NEW YORK,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,lge,NaN,NaN,N
4,NEW YORK,HOWDEN TYPE,NaN,09/24/2016,120,140,120,140,NEW YORK,med-lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,NEW YORK,MINIATURE,NaN,09/09/2017,32,32,32,32,OHIO,sml,NaN,NaN,N
108,NEW YORK,MINIATURE,ROUND TYPE,10/08/2016,18,18,18,18,NEW YORK,med,NaN,NaN,N
109,NEW YORK,MINIATURE,ROUND TYPE,10/08/2016,18,18,18,18,NEW YORK,sml,NaN,NaN,N
110,NEW YORK,MINIATURE,ROUND TYPE,10/15/2016,18,18,18,18,NEW YORK,med,NaN,NaN,N
111,NEW YORK,MINIATURE,ROUND TYPE,10/15/2016,18,18,18,18,NEW YORK,sml,NaN,NaN,N

In [213]:
new_york1[fill_key] = new_york1[fill_key].fillna("Missing")
new_york1

,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,NEW YORK,HOWDEN TYPE,Missing,09/24/2016,150,170,150,170,MICHIGAN,xlge,Missing,Missing,N
1,NEW YORK,HOWDEN TYPE,Missing,09/24/2016,150,170,150,170,MICHIGAN,lge,Missing,Missing,N
2,NEW YORK,HOWDEN TYPE,Missing,09/24/2016,130,150,130,150,NEW JERSEY,xlge,Missing,Missing,N
3,NEW YORK,HOWDEN TYPE,Missing,09/24/2016,130,150,130,150,NEW JERSEY,lge,Missing,Missing,N
4,NEW YORK,HOWDEN TYPE,Missing,09/24/2016,120,140,120,140,NEW YORK,med-lge,Missing,Missing,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,NEW YORK,MINIATURE,Missing,09/09/2017,32,32,32,32,OHIO,sml,Missing,Missing,N
108,NEW YORK,MINIATURE,ROUND TYPE,10/08/2016,18,18,18,18,NEW YORK,med,Missing,Missing,N
109,NEW YORK,MINIATURE,ROUND TYPE,10/08/2016,18,18,18,18,NEW YORK,sml,Missing,Missing,N
110,NEW YORK,MINIATURE,ROUND TYPE,10/15/2016,18,18,18,18,NEW YORK,med,Missing,Missing,N
111,NEW YORK,MINIATURE,ROUND TYPE,10/15/2016,18,18,18,18,NEW YORK,sml,Missing,Missing,N

In [214]:
philadelphia1 = philadelphia.drop(key, axis=1)
philadelphia1

,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PHILADELPHIA,HOWDEN TYPE,NaN,09/16/2017,140,150,140,150,PENNSYLVANIA,lge,NaN,NaN,N
1,PHILADELPHIA,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,med-lge,NaN,NaN,N
2,PHILADELPHIA,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,med,NaN,NaN,N
3,PHILADELPHIA,HOWDEN TYPE,NaN,09/24/2016,150,160,150,160,PENNSYLVANIA,lge,NaN,NaN,N
4,PHILADELPHIA,HOWDEN TYPE,NaN,10/01/2016,140,140,140,140,NEW JERSEY,med-lge,NaN,NaN,N
5,PHILADELPHIA,HOWDEN TYPE,NaN,10/01/2016,140,140,140,140,PENNSYLVANIA,med-lge,NaN,NaN,N
6,PHILADELPHIA,HOWDEN TYPE,NaN,10/01/2016,120,120,120,120,PENNSYLVANIA,med,NaN,NaN,N
7,PHILADELPHIA,HOWDEN TYPE,NaN,10/08/2016,140,155,140,155,NEW JERSEY,med,NaN,NaN,N
8,PHILADELPHIA,HOWDEN TYPE,NaN,10/08/2016,120,120,120,120,NEW JERSEY,sml,NaN,NaN,N
9,PHILADELPHIA,HOWDEN TYPE,NaN,10/15/2016,120,125,120,125,PENNSYLVANIA,lge,NaN,NaN,N
10,PHILADELPHIA,HOWDEN TYPE,NaN,10/15/2016,100,125,100,125,PENNSYLVANIA,med,NaN,NaN,N
11,PHILADELPHIA,HOWDEN TYPE,NaN,10/22/2016,130,140,130,140,NEW JERSEY,med-lge,NaN,NaN,N
12,PHILADELPHIA,HOWDEN TYPE,NaN,10/22/2016,120,120,120,120,PENNSYLVANIA,lge,NaN,NaN,N
13,PHILADELPHIA,HOWDEN TYPE,NaN,10/22/2016,130,140,130,140,PENNSYLVANIA,med-lge,NaN,NaN,N
14,PHILADELPHIA,HOWDEN TYPE,NaN,10/22/2016,100,120,100,120,PENNSYLVANIA,med,NaN,NaN,N
15,PHILADELPHIA,HOWDEN TYPE,NaN,10/29/2016,130,140,130,140,NEW JERSEY,med-lge,NaN,NaN,N
16,PHILADELPHIA,HOWDEN TYPE,NaN,10/29/2016,120,120,120,120,PENNSYLVANIA,lge,NaN,NaN,N
17,PHILADELPHIA,HOWDEN TYPE,NaN,10/29/2016,130,140,130,140,PENNSYLVANIA,med-lge,NaN,NaN,N
18,PHILADELPHIA,HOWDEN TYPE,NaN,10/29/2016,100,120,120,120,PENNSYLVANIA,med,NaN,NaN,N
19,PHILADELPHIA,HOWDEN TYPE,NaN,09/16/2017,120,120,120,120,PENNSYLVANIA,lge,NaN,NaN,N
20,PHILADELPHIA,HOWDEN TYPE,NaN,09/16/2017,120,150,120,150,PENNSYLVANIA,med,NaN,NaN,N
21,PHILADELPHIA,HOWDEN TYPE,NaN,09/23/2017,140,140,140,140,DELAWARE,lge,NaN,NaN,N
22,PHILADELPHIA,HOWDEN TYPE,NaN,09/23/2017,150,150,150,150,DELAWARE,med,NaN,NaN,N
23,PHILADELPHIA,HOWDEN TYPE,NaN,09/23/2017,120,150,120,150,NEW YORK,lge,NaN,NaN,N
24,PHILADELPHIA,HOWDEN TYPE,NaN,09/23/2017,140,150,140,150,PENNSYLVANIA,xlge,NaN,NaN,N
25,PHILADELPHIA,HOWDEN TYPE,NaN,09/23/2017,140,150,140,150,PENNSYLVANIA,lge,NaN,NaN,N
26,PHILADELPHIA,HOWDEN TYPE,NaN,09/30/2017,140,140,140,140,DELAWARE,lge,NaN,NaN,N
27,PHILADELPHIA,HOWDEN TYPE,NaN,09/30/2017,140,140,140,140,DELAWARE,med,NaN,NaN,N
28,PHILADELPHIA,PIE TYPE,NaN,10/15/2016,12,14,12,14,OHIO,med,NaN,NaN,N
29,PHILADELPHIA,PIE TYPE,NaN,10/22/2016,12,12,12,12,OHIO,med,NaN,NaN,N
30,PHILADELPHIA,PIE TYPE,NaN,10/29/2016,12,12,12,12,OHIO,med,NaN,NaN,N
31,PHILADELPHIA,PIE TYPE,NaN,08/26/2017,18,20,18,20,MICHIGAN,med,NaN,NaN,N
32,PHILADELPHIA,PIE TYPE,NaN,09/16/2017,18,18,18,18,OHIO,med,NaN,NaN,N
33,PHILADELPHIA,PIE TYPE,NaN,09/23/2017,18,22,18,22,OHIO,med,NaN,NaN,N
34,PHILADELPHIA,PIE TYPE,NaN,10/01/2016,250,250,250,250,PENNSYLVANIA,med,NaN,NaN,N
35,PHILADELPHIA,PIE TYPE,NaN,10/15/2016,140,140,140,140,PENNSYLVANIA,med,NaN,NaN,N
36,PHILADELPHIA,PIE TYPE,NaN,10/22/2016,140,150,140,150,PENNSYLVANIA,med,NaN,NaN,N
37,PHILADELPHIA,PIE TYPE,NaN,10/22/2016,75,100,75,100,PENNSYLVANIA,sml,NaN,NaN,N
38,PHILADELPHIA,PIE TYPE,NaN,10/29/2016,140,150,140,150,PENNSYLVANIA,med,NaN,NaN,N
39,PHILADELPHIA,PIE TYPE,NaN,10/29/2016,75,100,75,100,PENNSYLVANIA,sml,NaN,NaN,N
40,PHILADELPHIA,PIE TYPE,NaN,09/23/2017,180,180,180,180,DELAWARE,med,NaN,NaN,N
41,PHILADELPHIA,PIE TYPE,NaN,09/23/2017,140,140,140,140,DELAWARE,sml,NaN,NaN,N
42,PHILADELPHIA,PIE TYPE,NaN,09/23/2017,180,180,180,180,NEW YORK,med,NaN,NaN,N
43,PHILADELPHIA,PIE TYPE,NaN,09/30/2017,140,140,140,140,DELAWARE,sml,NaN,NaN,N
44,PHILADELPHIA,KNUCKLE HEAD,NaN,10/08/2016,210,210,210,210,NEW JERSEY,med,NaN,NaN,N
45,PHILADELPHIA,MINIATURE,FLAT TYPE,09/24/2016,17,18,17,18,OHIO,NaN,NaN,SHELLACKED,N
46,PHILADELPHIA,MINIATURE,FLAT TYPE,10/01/2016,18,18,18,18,NEW JERSEY,NaN,NaN,NaN,N
47,PHILADELPHIA,MINIATURE,FLAT TYPE,10/01/2016,17,18,17,18,OHIO,NaN,NaN,SHELLACKED,N
48,PHILADELPHIA,MINIATURE,FLAT TYPE,10/08/2016,15,15,15,15,OHIO,NaN,NaN,SHELLACKED,N
49,PHILADELPHIA,MINIATURE,FLAT TYPE,10/15/2016,15,18,15,18,OHIO,NaN,NaN,SHELLACKED,N
50,PHILADELPHIA,MINIATURE,FLAT TYPE,10/22/2016,16,18,16,18,OHIO,NaN,NaN,SHELLACKED,N
51,PHILADELPHIA,MINIATURE,FLAT TYPE,10/29/2016,16,18,16,18,OHIO,NaN,NaN,SHELLACKED,N
52,PHILADELPHIA,MINIATURE,FLAT TYPE,11/05/2016,16,18,16,18,OHIO,NaN,NaN,SHELLACKED,N
53,PHILADELPHIA,MINIATURE,FLAT TYPE,08/26/2017,18,20,18,20,MICHIGAN,NaN,NaN,SHELLACKED,N
54,PHILADELPHIA,MINIATURE,FLAT TYPE,09/16/2017,16,16,16,16,OHIO,NaN,NaN,SHELLACKED,N
55,PHILADELPHIA,MINIATURE,FLAT TYPE,09/23/2017,15,16,15,16,OHIO,NaN,NaN,SHELLACKED,N
56,PHILADELPHIA,MINIATURE,FLAT TYPE,09/30/2017,15,18,15,18,OHIO,NaN,NaN,SHELLACKED,N

In [215]:
philadelphia1[fill_key] = philadelphia1[fill_key].fillna("Missing")
philadelphia1

,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PHILADELPHIA,HOWDEN TYPE,Missing,09/16/2017,140,150,140,150,PENNSYLVANIA,lge,Missing,Missing,N
1,PHILADELPHIA,HOWDEN TYPE,Missing,09/24/2016,150,150,150,150,NEW YORK,med-lge,Missing,Missing,N
2,PHILADELPHIA,HOWDEN TYPE,Missing,09/24/2016,150,150,150,150,NEW YORK,med,Missing,Missing,N
3,PHILADELPHIA,HOWDEN TYPE,Missing,09/24/2016,150,160,150,160,PENNSYLVANIA,lge,Missing,Missing,N
4,PHILADELPHIA,HOWDEN TYPE,Missing,10/01/2016,140,140,140,140,NEW JERSEY,med-lge,Missing,Missing,N
5,PHILADELPHIA,HOWDEN TYPE,Missing,10/01/2016,140,140,140,140,PENNSYLVANIA,med-lge,Missing,Missing,N
6,PHILADELPHIA,HOWDEN TYPE,Missing,10/01/2016,120,120,120,120,PENNSYLVANIA,med,Missing,Missing,N
7,PHILADELPHIA,HOWDEN TYPE,Missing,10/08/2016,140,155,140,155,NEW JERSEY,med,Missing,Missing,N
8,PHILADELPHIA,HOWDEN TYPE,Missing,10/08/2016,120,120,120,120,NEW JERSEY,sml,Missing,Missing,N
9,PHILADELPHIA,HOWDEN TYPE,Missing,10/15/2016,120,125,120,125,PENNSYLVANIA,lge,Missing,Missing,N
10,PHILADELPHIA,HOWDEN TYPE,Missing,10/15/2016,100,125,100,125,PENNSYLVANIA,med,Missing,Missing,N
11,PHILADELPHIA,HOWDEN TYPE,Missing,10/22/2016,130,140,130,140,NEW JERSEY,med-lge,Missing,Missing,N
12,PHILADELPHIA,HOWDEN TYPE,Missing,10/22/2016,120,120,120,120,PENNSYLVANIA,lge,Missing,Missing,N
13,PHILADELPHIA,HOWDEN TYPE,Missing,10/22/2016,130,140,130,140,PENNSYLVANIA,med-lge,Missing,Missing,N
14,PHILADELPHIA,HOWDEN TYPE,Missing,10/22/2016,100,120,100,120,PENNSYLVANIA,med,Missing,Missing,N
15,PHILADELPHIA,HOWDEN TYPE,Missing,10/29/2016,130,140,130,140,NEW JERSEY,med-lge,Missing,Missing,N
16,PHILADELPHIA,HOWDEN TYPE,Missing,10/29/2016,120,120,120,120,PENNSYLVANIA,lge,Missing,Missing,N
17,PHILADELPHIA,HOWDEN TYPE,Missing,10/29/2016,130,140,130,140,PENNSYLVANIA,med-lge,Missing,Missing,N
18,PHILADELPHIA,HOWDEN TYPE,Missing,10/29/2016,100,120,120,120,PENNSYLVANIA,med,Missing,Missing,N
19,PHILADELPHIA,HOWDEN TYPE,Missing,09/16/2017,120,120,120,120,PENNSYLVANIA,lge,Missing,Missing,N
20,PHILADELPHIA,HOWDEN TYPE,Missing,09/16/2017,120,150,120,150,PENNSYLVANIA,med,Missing,Missing,N
21,PHILADELPHIA,HOWDEN TYPE,Missing,09/23/2017,140,140,140,140,DELAWARE,lge,Missing,Missing,N
22,PHILADELPHIA,HOWDEN TYPE,Missing,09/23/2017,150,150,150,150,DELAWARE,med,Missing,Missing,N
23,PHILADELPHIA,HOWDEN TYPE,Missing,09/23/2017,120,150,120,150,NEW YORK,lge,Missing,Missing,N
24,PHILADELPHIA,HOWDEN TYPE,Missing,09/23/2017,140,150,140,150,PENNSYLVANIA,xlge,Missing,Missing,N
25,PHILADELPHIA,HOWDEN TYPE,Missing,09/23/2017,140,150,140,150,PENNSYLVANIA,lge,Missing,Missing,N
26,PHILADELPHIA,HOWDEN TYPE,Missing,09/30/2017,140,140,140,140,DELAWARE,lge,Missing,Missing,N
27,PHILADELPHIA,HOWDEN TYPE,Missing,09/30/2017,140,140,140,140,DELAWARE,med,Missing,Missing,N
28,PHILADELPHIA,PIE TYPE,Missing,10/15/2016,12,14,12,14,OHIO,med,Missing,Missing,N
29,PHILADELPHIA,PIE TYPE,Missing,10/22/2016,12,12,12,12,OHIO,med,Missing,Missing,N
30,PHILADELPHIA,PIE TYPE,Missing,10/29/2016,12,12,12,12,OHIO,med,Missing,Missing,N
31,PHILADELPHIA,PIE TYPE,Missing,08/26/2017,18,20,18,20,MICHIGAN,med,Missing,Missing,N
32,PHILADELPHIA,PIE TYPE,Missing,09/16/2017,18,18,18,18,OHIO,med,Missing,Missing,N
33,PHILADELPHIA,PIE TYPE,Missing,09/23/2017,18,22,18,22,OHIO,med,Missing,Missing,N
34,PHILADELPHIA,PIE TYPE,Missing,10/01/2016,250,250,250,250,PENNSYLVANIA,med,Missing,Missing,N
35,PHILADELPHIA,PIE TYPE,Missing,10/15/2016,140,140,140,140,PENNSYLVANIA,med,Missing,Missing,N
36,PHILADELPHIA,PIE TYPE,Missing,10/22/2016,140,150,140,150,PENNSYLVANIA,med,Missing,Missing,N
37,PHILADELPHIA,PIE TYPE,Missing,10/22/2016,75,100,75,100,PENNSYLVANIA,sml,Missing,Missing,N
38,PHILADELPHIA,PIE TYPE,Missing,10/29/2016,140,150,140,150,PENNSYLVANIA,med,Missing,Missing,N
39,PHILADELPHIA,PIE TYPE,Missing,10/29/2016,75,100,75,100,PENNSYLVANIA,sml,Missing,Missing,N
40,PHILADELPHIA,PIE TYPE,Missing,09/23/2017,180,180,180,180,DELAWARE,med,Missing,Missing,N
41,PHILADELPHIA,PIE TYPE,Missing,09/23/2017,140,140,140,140,DELAWARE,sml,Missing,Missing,N
42,PHILADELPHIA,PIE TYPE,Missing,09/23/2017,180,180,180,180,NEW YORK,med,Missing,Missing,N
43,PHILADELPHIA,PIE TYPE,Missing,09/30/2017,140,140,140,140,DELAWARE,sml,Missing,Missing,N
44,PHILADELPHIA,KNUCKLE HEAD,Missing,10/08/2016,210,210,210,210,NEW JERSEY,med,Missing,Missing,N
45,PHILADELPHIA,MINIATURE,FLAT TYPE,09/24/2016,17,18,17,18,OHIO,NaN,Missing,SHELLACKED,N
46,PHILADELPHIA,MINIATURE,FLAT TYPE,10/01/2016,18,18,18,18,NEW JERSEY,NaN,Missing,Missing,N
47,PHILADELPHIA,MINIATURE,FLAT TYPE,10/01/2016,17,18,17,18,OHIO,NaN,Missing,SHELLACKED,N
48,PHILADELPHIA,MINIATURE,FLAT TYPE,10/08/2016,15,15,15,15,OHIO,NaN,Missing,SHELLACKED,N
49,PHILADELPHIA,MINIATURE,FLAT TYPE,10/15/2016,15,18,15,18,OHIO,NaN,Missing,SHELLACKED,N
50,PHILADELPHIA,MINIATURE,FLAT TYPE,10/22/2016,16,18,16,18,OHIO,NaN,Missing,SHELLACKED,N
51,PHILADELPHIA,MINIATURE,FLAT TYPE,10/29/2016,16,18,16,18,OHIO,NaN,Missing,SHELLACKED,N
52,PHILADELPHIA,MINIATURE,FLAT TYPE,11/05/2016,16,18,16,18,OHIO,NaN,Missing,SHELLACKED,N
53,PHILADELPHIA,MINIATURE,FLAT TYPE,08/26/2017,18,20,18,20,MICHIGAN,NaN,Missing,SHELLACKED,N
54,PHILADELPHIA,MINIATURE,FLAT TYPE,09/16/2017,16,16,16,16,OHIO,NaN,Missing,SHELLACKED,N
55,PHILADELPHIA,MINIATURE,FLAT TYPE,09/23/2017,15,16,15,16,OHIO,NaN,Missing,SHELLACKED,N
56,PHILADELPHIA,MINIATURE,FLAT TYPE,09/30/2017,15,18,15,18,OHIO,NaN,Missing,SHELLACKED,N

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [219]:
# Combine the four dataframes into one!
northeast_region = pd.concat([baltimore, boston, new_york, philadelphia])
northeast_region.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [217]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
unit_type = northeast_region.groupby("Unit of Sale")
price_dictionary={"Low Price": "mean", "High Price": "mean"}
dictionary_agg=unit_type.agg(price_dictionary)
dictionary_agg

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [226]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
cities = northeast_region.groupby("City Name")
#cities.head()
cities["Variety"].value_counts()

City Name     Variety
BALTIMORE     MINIATURE                    30
              PIE TYPE                     26
              CINDERELLA                   25
              HOWDEN TYPE                  25
              BIG MACK TYPE                24
              FAIRYTALE                    16
              MIXED HEIRLOOM VARIETIES      3
              HOWDEN WHITE TYPE             2
BOSTON        HOWDEN TYPE                 132
              PIE TYPE                    114
              BIG MACK TYPE                29
              MINIATURE                    28
              FAIRYTALE                    21
              CINDERELLA                   14
              BLUE TYPE                     7
              KNUCKLE HEAD                  7
NEW YORK      PIE TYPE                     42
              HOWDEN TYPE                  39
              MINIATURE                    27
              BIG MACK TYPE                 2
              KNUCKLE HEAD                  1
              MIXED HEIRLOOM VARIETIES      1
PHILADELPHIA  HOWDEN TYPE                  28
              PIE TYPE                     16
              MINIATURE                    12
              KNUCKLE HEAD                  1
Name: Variety, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [155]:
# Try the bonus mission if you have time!